<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat teste</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
    integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"
    integrity="sha512-VJ6+sp2E5rFQk05caiXXzQd1wBABpjEj1r5kMiLmGAAgwPItw1YpqsCCBtq8Yr1x6C49/mTpRdXtq8O2RcZhlQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="css/dado.css">
</head>

<body>
  <div id="mainChat">
    <form id="chat">
      <input type="text" name="username" placeholder="username">
      <div class="messages"></div>
      <input type="text" name="message" placeholder="message" id="messageField">
      <button type="submit"> Send </button>
    </form>

    <div id="dieRoller">
      <img src="assets/images/dices/d20.png" id="d20image" alt="d20Image">
      <p id="dieResult"> 20
      </p>
      <button id="rollDie" onclick=roll>Roll</button>
    </div>
  </div>
  <!-- <script src="/JS/rollDie.js"></script> -->
  <script src="JS/socketScript.js"></script>
</body>

</html>

<!-- <script type="text/javascript">
      var socket = io(
          'http://localhost:3000'
          ) // essa variavel esta no arquivo por causa da importacao de socket io la em cima no meta...

      function renderMessage(message) {
        $('.messages').append('<div class="message"><strong>' + message.author + ': </strong>' + message.message+'</div>' )
      }
      socket.on('previousMessages', messages => {
        for (message of messages) {
          renderMessage(message)
        }
      })
      socket.on('receivedMessage', message=>{
        renderMessage(message)
      })
      $('#chat').submit(function (event) {
        event.preventDefault();
        var author = $('input[name=username]').val();
        var message = $('input[name=message]').val();
        if (author.length && message.length) {
          var messageObj = {
            author: author,
            message: message,
          };
          renderMessage(messageObj)
          socket.emit('sendMessage', messageObj)
        }
      })
    </script> -->